name: Deploy To Test Environment

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: github.repository == 'refly-ai/refly'
    strategy:
      matrix:
        app: ["api", "web"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        if: matrix.app == 'web'
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@v4
        if: matrix.app == 'web'
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        if: matrix.app == 'web'
        run: pnpm install

      - name: Build
        run: pnpm build:web
        if: matrix.app == 'web'
        env:
          NODE_OPTIONS: "--max_old_space_size=8192"
          TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          VITE_RUNTIME: web

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: reflyai
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set Docker tags
        id: docker_tags
        run: |
          TAGS="reflyai/refly-${{ matrix.app }}:${{ github.sha }}"
          if [[ "${{ github.ref_name }}" == "main" || "${{ github.ref_name }}" == "stable" ]]; then
            TAGS="$TAGS,reflyai/refly-${{ matrix.app }}:nightly"
          fi
          echo "tags=$TAGS" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./apps/${{ matrix.app }}/Dockerfile
          push: true
          tags: ${{ steps.docker_tags.outputs.tags }}
          cache-from: type=registry,ref=reflyai/refly-${{ matrix.app }}:buildcache
          cache-to: type=registry,ref=reflyai/refly-${{ matrix.app }}:buildcache,mode=max

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Update kubeconfig for EKS cluster
        run: |
          aws eks update-kubeconfig --name ${{ secrets.AWS_EKS_CLUSTER }} --region ${{ secrets.AWS_REGION }}

      - name: Update API deployment image on EKS
        if: matrix.app == 'api'
        run: |
          kubectl set image deployment/refly-api refly-api=reflyai/refly-api:${{ github.sha }} -n refly-app

      - name: Update Web deployment image on EKS
        if: matrix.app == 'web'
        run: |
          kubectl set image deployment/refly-web refly-web=reflyai/refly-web:${{ github.sha }} -n refly-app
